
header {
    background: #000000;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex ;
    justify-content: space-between;
    padding: -1rem 6rem;
}

.logo {
    display: center;
    align-items: center;
    height: 150px;
}

.nav-lista {
    display: flex ;
    align-items: center;
}

.nav-lista ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0px 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    position: relative;
}

.nav-link:hover {
    color: #fff;
}

.nav-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #B6FFFA;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.nav-link:hover::after {
    opacity: 1;
}

.login-botao button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
}

.login-botao button a {
    text-decoration: none;
    color: transparent;
    font-weight: 500;
    font-size: 1.1rem;
}

.icone-menu-mobile {
    display: none;
}

.mobile-menu {
    display: none;
}

.titulo {
    color: #000;
    margin: 0;
}

.foto-lado{
    margin: 1.15rem;
    margin-left: 135px;
    border-radius: 20px;
}

#curriculo {
    color: #000;
    margin: 80px 0px 0px 1000px;
}

.ancora {
    text-decoration: none;
    color: #000;
}

#h2 {
    color: #000;
    margin: 80px;
}

#h3 {
    color: #000;
    margin: 80px;
}

#sech3 {
    margin: -70px 0px 0px 80px;
    color: #000;
}

#pzin {
    margin-left: 80px;
    color: #000;
}

.foto-lado {
    margin: 30px 0px 0px 150px;
    border-radius: 20px;
}

.conteudo {
    display: table;
    width: 100%;
    height: 100%;
}

.texto {
    display: table-cell;
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 30px;
}

.texto h2 {
    margin: 20px 0px 0px 0px;
}

.texto p {
    margin: 0px -200px 0px 0px;
    font-size: 25px;
}

#textoca {
    float: left;
    margin-top: 300px;
    margin-left: 400px;
    font-size: 30px;
}

.textoca h2 {
    margin: 200px 0px 0px 200px;
}

.textoca p {
    margin: 0px 0px 0px 200px;
    font-size: 25px;
}

.texto2 {
    float: left;
    margin-top: 100px;
    margin-left: 400px;
    font-size: 30px;
}

.texto2 h2 {
    margin: 200px 0px 0px 200px;
}

.texto2 p {
    margin: 0px 0px 0px 200px;
    font-size: 25px;
}

.texto-link {
    text-decoration: none;
    color: #000;
}

#fotinho  {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: #000000;
    background-image: url('./img/fotinho.jpg');
    background-size: cover;
    float: left;
    border-radius: 15px;
}

#personal-page {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: #000000;
    box-shadow: 0px 3px 10px #000;
    background-image: url('./img/Captura\ de\ tela\ 2024-04-04\ 000140.png');
    background-size: cover;
    float: left;
    border-radius: 15px;
}

.content {
    max-width: 648px;
    margin: auto;
    text-align: center;
}

.hl {
    font-size: 20px;
}

#proximo-hl {
    margin-top: -30px;
}

#linha-vertical {
    height: 100px;
    width: 0px;
    background: #000;
}

#fotinha {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/Logo-UVA.png');
    background-size: cover;
    float: left;
}

#fotinhas {
    width: 300px;
    height: 300px;
    margin-top: 300px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/python-logo-adesivo-stickerLLL4.png');
    background-size: cover;
    float: right;
}

#fotonhas {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/html.png');
    background-size: cover;
    float: left;
}

#fotonha {
    width: 300px;
    height: 300px;
    margin-top: 600px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/css.png');
    background-size: cover;
    float: right;
}

#candelaria {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/Candelaria.jpg');
    background-size: cover;
    float: left;
}

#casa-franca {
    width: 300px;
    height: 300px;
    margin-top: 300px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/casa-frança.jpg');
    background-size: cover;
    float: right;
}

#queen {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/0617285008340.webp');
    background-size: cover;
    float: left;
}

#nirvana {
    width: 300px;
    height: 300px;
    margin-top: 300px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/71oA3FGLcOL._AC_UF1000\,1000_QL80_.jpg');
    background-size: cover;
    float: right;
}

#silent-hill {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/Capa-4-2.webp');
    background-size: cover;
    float: left;
}

#tlou2 {
    width: 300px;
    height: 300px;
    margin-top: 650px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #000000;
    background-image: url('./img/Y02ljdBodKFBiziorYgqftLE.webp');
    background-size: cover;
    float: right;
}

p {
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
}

.linha-horizontal {
    padding: 1px;
    background: linear-gradient(to right, #000 60%, #fff);
}

.fundo section {
    background-color: #000;
    width: 300px;
    height: 370px;
    border-radius: 15px;
    margin: 100px 500px 0px ;
}

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    background-color: #7e79796e;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
}

form .botton-enviar {
    margin-top: 20px;
    text-align: center;
}

form .botton-enviar input {
width: 120px;
background-color: #B6FFFA;
color: #000;
font-weight: 600;
cursor: pointer;
transition: .2s;
}

form .botton-enviar input:hover {
    box-shadow: 0px 0px 8px #B6FFFA;
    transform: scale(1.05);
}

#form_social_media {
    display: flex;
    gap: 2rem;
    margin-top: -1.5rem;
}

#form_social_media .form-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    margin: 0px 0px 30px 0px;
}

#form_social_media .form-link i {
    font-size: 1.25rem;    
}

#form_social_media .form-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background-color: #25d366;
}

#linkedin {
    background-color: #0A66C2;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

main {
    height: 20vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h2 {
    margin-top: 30px;
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background-color: #25d366;
}

#linkedin {
    background-color: #0A66C2;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #B6FFFA;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-botao {
        display: none;
    }
    .icone-menu-mobile {
        display: block;
    }
    .icone-menu-mobile button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-botao {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-botao button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    /* Conteúdo Início*/
    .conteudo {
        display: inline-block;
        flex-direction: column-reverse;
   }
    
    #fotinho {
        max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }

    .texto h2 {
        margin-top: 70px;
        max-width: 300px;
    }

    .texto p{
        max-width: 300px;
    }

    #curriculo {
        margin: 50px 0px 0px 80px ;
      
    }

    #fotinha {
        max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }

    #fotinhas {
        max-width: 100%;
        min-width: 20%;
        margin: 50px 50px -170px 0px;
        background-color: #000000;
        background-size: cover;
        float: right;
    }

    #fotonhas {
        max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }

    #fotonha {
        max-width: 100%;
        min-width: 20%;
        margin: 50px 50px -170px 0px;
        background-color: #000000;
        background-size: cover;
        float: right;
    }

    #personal-page {
        max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }

    #candelaria {
          max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }
    

    .texto2 {
    float: right;
    margin-right: 170px;
    margin-top: 3px;
    }

    .texto2 p {
        max-width: 600px;
    }

    .fundo section {
        background-color: #000;
        width: 300px;
        height: 370px;
        border-radius: 15px;
        margin: 100px 30px 0px ;
    }

    #casa-franca {
        max-width: 100%;
        min-width: 20%;
        margin: 50px 50px -200px 0px;
        background-color: #000000;
        background-size: cover;
        float: right;
    }

    #queen {
        max-width: 100%;
        margin: 50px 0px -200px 50px;
        background-color: #000000;
        background-size: cover;
        float: none;
    }

    #nirvana{
        max-width: 100%;
        min-width: 20%;
        margin: 50px 50px -200px 0px;
        background-color: #000000;
        background-size: cover;
        float: right;
    }

    form input, form textarea {
        width: 100%;
        background-color: #7e79796e;
        border: 0;
        outline: 0;
        padding: 20px 5px 20px 3px;
        border-radius: 15px;
        color: #fff;
        font-size: 18px;
    }

    .foto-lado {
        margin: 25px 0px 0px 45px;
    }

}